 .my-atropos {
  
  width: 90vw;
  height: auto;
  background-image: "/wallpaper.png";
} 


/* .bg-img {
  object-fit: contain;
  overflow: hidden;
  aspect-ratio: 19/9;
  width: 100rem;
} */